* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: white;
}

/* Top Nav Bar Styling */

#topbar {
    position: fixed;
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid black;
    z-index: 4;

    ul {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    li {
        list-style: none;
    }

    .logo {
        width: 7rem;
        height: 8rem;
        margin-left: 2rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .name {
        width: 30vw;
        font-size: 1.7rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 1rem;
        color: black;
    }

    /* Navbar container */
    .navigation {
        overflow: hidden;
        font-family: Arial;
        width: 60%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 3rem;
        padding-left: 2rem;
    }
    
    /* Links inside the navbar */
    .navigation a {
        width: 10rem;
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.3rem;
        color: black;
        transition: all 0.4s;

        i {
            font-size: 1.8rem;
          }

    }
    .navigation a:hover, .dropdown:hover .dropbtn{
        border-bottom: 1px solid black;
        transform: translateY(-10%);
    }
}

/* Top Nav Bar Styling Ends */

/* Section for Login and Signup Button */

#topbar2 {
    position: absolute;
    top: 7.8rem;
    width: 100%;
    height: 5.5rem;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    background-color: whitesmoke;
    transition: all 0.4s;


    #login-signup{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 2px;
        gap: 3rem;
        position: absolute;
        right: 2%;
    }
    .login-wrapper {
        width: 17vw;
        height: 85%;
        background-color: #eab645;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        overflow: hidden;

        .details{
            width: 60%;
            height: 100%;
        }

        a {
            width: 50%;
            height: 100%;
        }

        #login {
            width: 100%;
            height: 100%;
            border-radius: 2rem;
            background-color: #db8336;
            border-radius: 2rem;
            font-size: 1.4rem;
            border: none;
            color: white;
            transition: all ease-in-out 0.4s;
            cursor: pointer;
        }

        #signup {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            font-size: 1.4rem;
            color: white;
            transition: all ease-in-out 0.4s;
            cursor: pointer;
        }

        #logout {
            width: 100%;
            height: 100%;
            border-radius: 2rem;
            background-color: #db8336;
            border-radius: 2rem;
            font-size: 1.4rem;
            border: none;
            color: white;
            transition: all ease-in-out 0.3s;
            cursor: pointer;

            &:hover {
                transform: scale(0.9);
            }
        }
    }

    /* Navbar container */
    .navigation {
        overflow: hidden;
        font-family: Arial;
        width: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4rem;
        padding-left: 2rem;
    }
    
    /* Links inside the navbar */
    .navigation a {
        width: 8rem;
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.3rem;
        color: black;
        transition: all 0.4s;


    }
    
    /* The dropdown container */
    .dropdown {
        float: left;
        overflow: hidden;

    }
    
    /* Dropdown button */
    .dropdown .dropbtn {
        font-size: 1.3rem;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
        transition: all 0.4s;

    }
    
    /* Add a red background color to navbar links on hover */
    .navigation a:hover, .dropdown:hover .dropbtn{
        border-bottom: 1px solid black;
        transform: translateY(-10%);
    }
    
    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 4;
        transition: all 0.4s;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        width: 100%;
        float: none;
        color: black;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd;
        border: none;
        transform: translateY(0);

    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
}




/* For switching classes with different background property of login and signup button upon getting hovered */
#login-signup .wrapper #login.log-disabled {
    background: transparent;
    border-radius: 0;
}

#login-signup .wrapper #signup.sign-enabled {
    background-color: #db8336;
    border-radius: 2rem;
}


#user-admin {
    width: 25vw;
    height: 10vw;
    background-color: #db8336;
    position: absolute;
    top: 110%;
    right: -1.15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    border-radius: 2rem;
    margin-right: 1.8rem;
    transform: translateY(-200%);
    transition: all 0.4s;
    z-index: 3;

    h2 {
        width: 55%;
        margin-left: 1.3rem;
        text-align: center;
        color: white;
    }

    .wrap {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        background-color: #eab645;
    }

    input {
        width: 8vw;
        height: 3vw;
        font-size: 1.4rem;
        border-radius: 2rem;
        border: none;
        cursor: pointer;
        background-color: aliceblue;
        font-weight: 600;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.601);
        transition: all 0.4s;

        &:hover {
            transform: scale(0.9);
        }
    }
}

#user-admin.login-clicked {
    transform: translateY(0);
    z-index: 3;
}

/* Side Bar Styling Starts */

#sidebar {
    box-sizing: border-box;
    min-height: 86vh;
    width: 350px;
    padding: 5px 1em;
    /* background-color: var(--base-clr); */
    border-right: 1px solid rgba(0, 0, 0, 0.86);
    border-bottom: 1px solid rgba(0, 0, 0, 0.86);
    position: fixed;
    top: 13.9%;
    align-self: start;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;  
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.447);
    z-index: 2;
  }
  #sidebar.close {
    padding: 5px;
    width: 70px;
  }
  #sidebar ul {
    list-style: none;
  }
  
  /* For Side Bar Toggle Button */
  
  #sidebar > ul > div {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo {
      font-weight: 700;
      font-size: 1.3rem;
      color: black;
    }
    i {
      font-size: 1.8rem;
    }
  
    button:hover{
      color: white;
    }
   
  }
  
  /*Side Bar Toggle Button Ends Here*/
  
  
  /* Side Bar Styling */
  
  #sidebar ul li {
    margin-bottom: 2rem;
  }
  #sidebar a,
  #sidebar .dropdown-btn,
  #sidebar .logo {
    border-radius: 0.5em;
    padding: 0.85em;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 3em;
    font-size: 1.3rem;
  }
  
  #sidebar ul li a:hover i {
    color: white;
  }
  #sidebar ul li a:hover span {
    color: white;
  }
  .dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
  }
  #sidebar i {
    transform: scale(1.5);
  }
  #sidebar i {
    transform: scale(1.5);
  }
  
  #sidebar a:hover,
  #sidebar .dropdown-btn:hover {
    background-color: black;
    color: white;
  }
  
  
  /* Sub Menu Styles */
  
  #sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
  
    > div {
      overflow: hidden;
    }
  }
  
  /* Showing the sub menu */
  
  #sidebar .sub-menu.show {
    grid-template-rows: 1fr;
  }
  
  /* Rotating drop down button */
  
  .rotate i:last-child {
    rotate: 180deg;
  }
  
  #sidebar .sub-menu a {
    padding-left: 2em;
  }
  
  #sidebar .sub-menu li {
    margin-bottom: 1rem;
  }
  
  #toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    background: none;
    cursor: pointer;
  }
  
  #toggle-btn:hover {
    background-color: black;
  }

  

#main {
    width: calc(100% - 350px);
    min-height: 77.5vh;
    position: absolute;
    top: 22.4%;
    right: 0;
    transition: all ease-in-out 0.4s;
    background-color: rgb(225, 205, 167);
    overflow: hidden;
}

#main.full {
    position: absolute;
    width: calc(100% - 70px);
    min-height: 77.5vh;
}

main p {
    color: black;
    margin-top: 5px;
    margin-bottom: 15px;
}

.container {
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);
    position: relative;

    h2,
    p {
        color: #11121a;
    }
}



/* Styling for about us */

#aboutus {
    width: calc(100%-300px);
    min-height: 70vh;
    background-color: #2e2e32;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    gap: 2rem;

    h1 {
        font-size: 2.3rem;
        color: white;
    }
}

#aboutus .about-elem {
    width: 100%;
    height: 20vw;
    background: linear-gradient(119deg, rgba(2, 1, 21, 0.805) 0%, rgba(2, 2, 21, 0.2), rgba(234, 238, 239, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;

    img {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain;
        object-position: center;
    }

    p {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: 2rem;
        padding: 0 2rem;
        color: #919191;
    }
}


/* Admin Form CSS */

 ::selection{
    background: #1a75ff;
    color: #fff;
  }
  #main .alert{
    width: 35vw;
    height: 5vw;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 3rem;
    border: 1px solid rgb(0, 0, 0);


    button{
      width: 4rem;
      height: 2rem;
      background-color: rgb(0, 0, 0);
      color: white;
      font-size: 1.2rem;
    }
    
  }
  #container{
      width: 80%;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      position: absolute;
  }
  #container.container-with-alert{
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 25%;
  }
  #container .message{
      width: 50%;
      height: 29.4vw;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.533);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center ;
      gap: 2rem;
      border: 1px solid black;
     
      
      .great{
          font-size: 3rem;
          transition: all ease-in-out 0.4s;
      }
      .g-msg{
          font-size: 1.4rem;
          text-align: center;
          transition: all ease-in-out 0.4s;
      }
  }
.wrapper{
    overflow: hidden;
    width: 600px;
    height: 29.4vw ;
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.446);
    position: relative;
  }
  .wrapper .title-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vw;
  
  }
  .wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  
  .wrapper .form-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .form-container form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    gap: 1rem;
  }
  form .field{
    height: 50px;
    width: 100%;
    margin-bottom: 1rem;
  }
  form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  form .field input:focus{
    border-color: #1a75ff;
  }
  form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #1a75ff;
  }
  form .pass-link{
    margin-top: 5px;
  }
  
  form .pass-link a{
    color: #1a75ff;
    text-decoration: none;
  }
  form .pass-link a:hover{
    text-decoration: underline;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background-color: #fe9a36;
    
    border-radius: 15px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  } 
   


  /* Dashboard Styling */

#main .new{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 30%;
      height:70%;
      object-fit: contain;
      object-position: center;
      color: white;
      opacity: 40%;
      border-left: 1px solid black;
    }
    h1{
      text-align: center;
      font-weight: 500;
      margin-right: 1rem;
    }
  
    .new-com{
      width: 45%;
      height: 17vh;
      background-color: white;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 2rem;
      border-radius: 1rem;
      overflow: hidden;
    }
  }
  
  /* #main{
    img{
      width: 30%;
      height:70%;
      object-fit: contain;
      object-position: center;
      color: white;
      opacity: 40%;
      border-left: 1px solid black;
    }
    h1{
      text-align: center;
      font-weight: 500;
      margin-right: 1rem;
    }
  } */

  .divison{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 205, 167);
    .line{
      width: 45%;
      height: .5vh;
      background-color: rgb(246, 229, 196);
    }
    h1{
      text-align: center;
      font-size: 3rem;
      font-weight: 600;
      color: white;
    }
  }
  
  #main .dashboard{
    width: 100%;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    .dash-elem{
      width: 45%;
      height: 32%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-right: 2rem;
      border-radius: 2rem;
      overflow: hidden;
      .count{
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
          background-color: #679ceb;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }
      .title{
        width: 55%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
          font-weight: 500;
          font-size: 2.1rem;

        }
      }
      .elem-img{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
          width: 60%;
          height: 60%;
          object-fit: contain;
          object-position: center;
          display: flex;
          justify-content: center;
        }
     
      }
   
    }
  }
  
  /* NEW COMPLAINTS FOR ADMIN */
  
  .comContainer{
    width: 100%;
    transition: all ease-in-out 0.4s;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    .head{
      width: 100%;
      height: 6.5rem;
      background-color: #11121a;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      margin-top: 0.6rem;
  
      h1{
        color: white;
      }
      a{
        width: 11rem;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none; 
        border-radius: 1rem;
       
        button{
         width: 100%;
         height: 100%;
         font-size: 1.4rem;
         border-radius: 1rem;
         cursor: pointer;
         transition: all 0.3s;
  
         &:hover{
          transform: scale(0.9);
         }
        }
      }
    }
    #newCom{
      width: 100%;
      height: 7rem;
      padding: 1rem 2rem;
      text-align: left;
      font-size: 4rem;
      font-weight: 700;
      color: white;
      text-decoration: none;
      margin-bottom: 2rem;
      border-bottom: 4px solid rgb(246, 224, 182);
    }
  }
  
  .complaints{
    width: 90%;
    background-color: white;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .left{
      width: 70%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;

      h1{
        font-size: 2.3rem;
        margin-top: 1rem;
      }
      .desc{
        h2{
          font-size: 1.8rem;
        }
        p{
          font-size: 1.5rem;
        }
      }
      .votes{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 1rem;
        span{
          width: 6rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(99, 243, 99);
          border-radius: 1rem;
          font-weight: 700;
          color: white;
          font-size: 1.5rem;
        }
        h3{
          font-size: 1.5rem;

        }
      }
    }
    .right{
      width: 20%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 3rem;
      align-items: flex-end;

      h3{
        margin-bottom: 3rem;
        font-size: 1.5rem;
      }
      a{
        width: 9rem;
        height: 4rem;

        button{
          width: 100%;
          height: 100%;
          background-color: #db8336;
          font-size: 1.5rem;
          color: white;
          border-radius: 1rem;
        }
      }
    }
  }



/* Admins Page */

#main .admins{
  width: 100%;
  display: flex;
  flex-direction: column;

  .head{
    width: 100%;
    height: 6.5rem;
    background-color: #11121a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-top: 0.6rem;

    h1{
      color: white;
    }
    a{
      width: 11rem;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none; 
      border-radius: 1rem;
     
      button{
       width: 100%;
       height: 100%;
       font-size: 1.4rem;
       border-radius: 1rem;
       cursor: pointer;
       transition: all 0.3s;

       &:hover{
        transform: scale(0.9);
       }
      }
    }
  }
  .tableAdmin{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;


    .admin-table-head{
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      h3{
        width: 25%;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid black;
      }
    }
    .adminRec{
      width: 100%;
      height: 4.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 10px black inset;
      margin-bottom: 1rem;
      transition: all 0.3s;

      div{
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        font-size: 1.4rem;
        gap: 1rem;

        a{
          text-decoration: none;
          width: 40%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          button{
            width: 8rem;
            height: 3rem;
            font-size: 1.3rem;
            border-radius: 1rem;
            cursor: pointer;
            transition: all 0.3s;
            color: white;
            &:hover{
              transform: scale(0.9);
            }
            
          }
          .edit{
            background-color: #3562a7;
          }
          .del{
            background-color: rgb(240, 61, 26);
          }
        }
      }
    }
  }
}


/* Add Admin Page */

#main .add-admin
{
  width: 100%;
  display: flex;
  flex-direction: column;

  .head{
    width: 100%;
    height: 6.5rem;
    background-color: #11121a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-top: 0.6rem;

    h1{
      color: white;
    }
    a{
      width: 11rem;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none; 
      border-radius: 1rem;
     
      button{
       width: 100%;
       height: 100%;
       font-size: 1.4rem;
       border-radius: 1rem;
       cursor: pointer;
       transition: all 0.3s;

       &:hover{
        transform: scale(0.9);
       }
      }
    }
  }
  .wrapper{
    overflow: hidden;
    width: 600px;
    height: 29.4vw ;
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.446);
    position: relative;
  }
  .wrapper .title-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vw;
  
  }
  .wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  
  .form-container{
    overflow: hidden;
    width: 100%;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 6.03rem 2rem;
  }
  .form-container form{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    gap: 1rem;
  }
  form .field{
    height: 60px;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border: 1px solid rgb(171, 170, 170);
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  form .field input:focus{
    border-color: #1a75ff;
  }
  form .field input::placeholder{
    color: #4c4a4a;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #1a75ff;
  }
  form .pass-link{
    margin-top: 5px;
  }
  
  form .pass-link a{
    color: #1a75ff;
    text-decoration: none;
  }
  form .pass-link a:hover{
    text-decoration: underline;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;

  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    
    
    border-radius: 15px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 60%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background-color: #1f8bf8;
  }
}


/* View complaints */

.view-complaints{
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  .head{
    width: 100%;
    height: 6.5rem;
    background-color: #11121a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-top: 0.6rem;

    h1{
      color: white;
    }
    a{
      width: 11rem;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none; 
      border-radius: 1rem;
     
      button{
       width: 100%;
       height: 100%;
       font-size: 1.4rem;
       border-radius: 1rem;
       cursor: pointer;
       transition: all 0.3s;

       &:hover{
        transform: scale(0.9);
       }
      }
    }
  }
  .view-image{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25%;
    text-decoration: none;
    button{
      width: 8rem;
      height: 3rem;
      border: 2px solid white;
      font-size: 1.2rem;
      color: white;
      border-radius: 1rem;
      background-color: #db8336;
    }
  }
  .votes{
    position: absolute;
    top: 15%;
    z-index: 2;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 1rem;
    gap: 5px;
    margin-bottom: 1rem;
    .vote-wrap{
      width: 5rem;
      height: 100%;
      background-color: rgb(15, 147, 15);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 50%;
      color: white;
    }
    span{
      width: 6rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      font-weight: 700;
      color: white;
      font-size: 1.5rem;
    }
    h3{
      font-size: 1.5rem;

    }
  }
  .comp-img{
    width: 100%;
    height: 40%;
    background-color: #11121a;
    overflow: hidden;
    
    img{
      width: 100%;
      height: 77.5vh;
      object-fit: cover;
      filter: brightness(35%);
    }
  }
  .details{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3rem;
    padding-left: 2rem;

    h1{
      font-size: 2.3rem;
      margin-top: 1rem;
    }
    .desc{
      h2{
        font-size: 1.3rem;
        font-weight: 600;
      }
      p{
        font-size: 1.5rem;
        padding-right: 10rem;
      }
    }
    .date{
      h3{
        margin-bottom: 3rem;
        font-size: 1.5rem;
        position: absolute;
        top: 52%;
        right: 2%;
      }
      
    }
    .approve-send{
      position: absolute;
      bottom: -2%;
      right: 2%;
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 2rem;
      a{
        width: 15rem;
        height: 4rem;

        button{
          width: 100%;
          height: 100%;
          font-size: 1.5rem;
          border-radius: 1rem;
          border: 2px solid white;
          color: white;
          background-color: #db8336;
        }
      }
    }
   
  }
}


/* Categories page */

#main .categories{
  width: 100%;
  display: flex;
  flex-direction: column;

  .head{
    width: 100%;
    height: 6.5rem;
    background-color: #11121a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-top: 0.6rem;

    h1{
      color: white;
    }
    a{
      width: 11rem;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none; 
      border-radius: 1rem;
     
      button{
       width: 100%;
       height: 100%;
       font-size: 1.4rem;
       border-radius: 1rem;
       cursor: pointer;
       transition: all 0.3s;

       &:hover{
        transform: scale(0.9);
       }
      }
    }
  }
  .tableCategory{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;


    .category-table-head{
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      h3{
        width: 25%;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid black;
      }
    }
    .category-rec{
      width: 100%;
      height: 4.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 10px black inset;
      margin-bottom: 1rem;
      transition: all 0.3s;

      div{
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        font-size: 1.4rem;
        gap: 1rem;

        a{
          text-decoration: none;
          width: 40%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          button{
            width: 8rem;
            height: 3rem;
            font-size: 1.3rem;
            border-radius: 1rem;
            cursor: pointer;
            transition: all 0.3s;
            color: white;
            &:hover{
              transform: scale(0.9);
            }
            
          }
          .edit{
            background-color: #3562a7;
          }
          .del{
            background-color: rgb(240, 61, 26);
          }
        }
      }
    }
  }
}


/* Add Admin Page */

#main .add-category
{
  width: 100%;
  display: flex;
  flex-direction: column;

  .head{
    width: 100%;
    height: 6.5rem;
    background-color: #11121a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-top: 0.6rem;

    h1{
      color: white;
    }
    a{
      width: 11rem;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none; 
      border-radius: 1rem;
     
      button{
       width: 100%;
       height: 100%;
       font-size: 1.4rem;
       border-radius: 1rem;
       cursor: pointer;
       transition: all 0.3s;

       &:hover{
        transform: scale(0.9);
       }
      }
    }
  }
  .wrapper{
    overflow: hidden;
    width: 600px;
    height: 29.4vw ;
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.446);
    position: relative;
  }
  .wrapper .title-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vw;
  
  }
  .wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  
  .form-container{
    overflow: hidden;
    width: 100%;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 6.03rem 2rem;
  }
  .form-container form{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    gap: 1rem;
  }
  form .field{
    height: 60px;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border: 1px solid rgb(171, 170, 170);
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  form .field input:focus{
    border-color: #1a75ff;
  }
  form .field input::placeholder{
    color: #4c4a4a;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #1a75ff;
  }
  form .pass-link{
    margin-top: 5px;
  }
  
  form .pass-link a{
    color: #1a75ff;
    text-decoration: none;
  }
  form .pass-link a:hover{
    text-decoration: underline;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;

  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    
    
    border-radius: 15px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 60%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background-color: #1f8bf8;
  }
}

